@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans-Bold;
    src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
}

body {
    background-color: #FAFAFA;
    width: 75%;
    margin: auto;
}
div {
    margin: auto;
}

h2 {
    font-family: OpenSans-Bold;
}

a {
    color: #60abe8;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    color: #e1997a;
    outline: none !important;
}

a:hover {
    color: #e1997a;
    text-decoration: none;
}

th {
    background-color: #FAFAFA;
    color: #232323;
    font-family: OpenSans-Bold;
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 14px;
}

tbody tr:nth-child(odd) {
    background-color: #FFF7F0;
}

tbody tr:nth-child(even) {
    background-color: #FAFAFA;
}

#global {
    background: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#card-input {
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: OpenSans-Regular;
    height: 60px;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    #card-input {
        font-size: 12px;
    }

	/* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { 
        border: 2px solid #0D0D0F;
    }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #0D0D0F; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align: left;
        font-weight: bold;
        font-family: OpenSans-Regular;
	}
 
	/*
	Label the data
	*/
    td:nth-of-type(1):before { content: "CARDS"; }
	td:nth-of-type(2):before { content: "IDENTITY"; }
	td:nth-of-type(3):before { content: "INITIAL STATE"; }
	td:nth-of-type(4):before { content: "STEPS"; }
    td:nth-of-type(5):before { content: "RESULTS"; }
}

@media screen and (min-width: 801px) {
    #card-input {
      font-size: 20px;
    }
  }