body {
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
}

#global {
    display: flex;
    flex-direction: column;
}

#card-input {
    margin-top: 2px;
    margin-bottom: 2px;
    height: 60px;
}